In [184]:
import numpy as np
import pandas as pd
import csv
from collections import defaultdict as dd

In [115]:
sents = pd.read_excel('sentences.xlsx.xlsx')
words = pd.read_excel('words.xls.xlsx')

In [109]:
sents.head()

,text,date,quarter,year,"quarter, year",Q-Y,previous_quart,export,price,agr_classified,Unnamed: 10
0,45,2000-03-15,1,2000,"1, 2000","Q1, 2000","Q4, 1999",38832.3,100.93,12,NaN
1,241,2000-02-04,1,2000,"1, 2000","Q1, 2000","Q4, 1999",21469.2,49.45,10,NaN
2,97,2000-03-03,1,2000,"1, 2000","Q1, 2000","Q4, 1999",31451.0,68.10,31,NaN
3,199,2000-03-20,1,2000,"1, 2000","Q1, 2000","Q4, 1999",40302.1,97.32,3,NaN
4,34,2000-02-25,1,2000,"1, 2000","Q1, 2000","Q4, 1999",5449.5,17.00,92,NaN

In [110]:
words.head()

,text,date,year,year-1,quarter,year.1,"quarter, year",previous_quart,Quarter,neg_words,...,Previous Year NATO,QNATO_expansion,QNATO_expansion1,Q-1NATO_expansion,Q-1NATO_expansion1,1999NATO,2004NATO,2009NATO,Unnamed: 29,Unnamed: 30
0,97.0,2000-03-03,2000.0,1999.0,1.0,2000.0,"1, 2000","Q4, 1999",Q1 - 2000,27.0,...,1,0,0,0,0,1,0,0,"Q4, 1999",74.666667
1,45.0,2000-03-15,2000.0,1999.0,1.0,2000.0,"1, 2000","Q4, 1999",Q1 - 2000,2.0,...,1,0,0,0,0,1,0,0,"Q1, 2000",76.333333
2,241.0,2000-02-04,2000.0,1999.0,1.0,2000.0,"1, 2000","Q4, 1999",Q1 - 2000,7.0,...,1,0,0,0,0,1,0,0,"Q2, 2000",70.000000
3,199.0,2000-03-20,2000.0,1999.0,1.0,2000.0,"1, 2000","Q4, 1999",Q1 - 2000,3.0,...,1,0,0,0,0,1,0,0,"Q3, 2000",67.333333
4,34.0,2000-02-25,2000.0,1999.0,1.0,2000.0,"1, 2000","Q4, 1999",Q1 - 2000,47.0,...,1,0,0,0,0,1,0,0,"Q4, 2000",67.333333

In [242]:
def dups(dup, dff):
    ind_list = []
    text_list = []
    for i, x in enumerate(dup):
        if x == True:
            ind_list.append(i)
    for i in ind_list:
        dupi = dff.iloc[i]['text']
        text_list.append(dupi)
    return text_list

In [245]:
def print_dups(inds):
    with open('repeats.txt', 'w') as text:
        for i in inds:
            text.write('{0}\n'.format(i))

In [246]:
dups_sent = sents.duplicated(subset='text')
sl_dup = dups(dups_sent, sents)
print(sl_dup)
print_dups(sl_dup)

[1968, 5979, 9637, 14088, 17118, 19825, 47173, 50864, 53379]

In [211]:
def make_dict(dff, sents=True):
    df_dict = dd(list)
    count = 0
    if sents == True:
        q = dff['quarter']
        w = dff['agr_classified']
        t = dff['text']
    else:
        q = dff['quarter']
        w = dff['neg_words']
        t = dff['text']
    for num in t:
        df_dict[int(num)] = [int(q[count]), int(w[count])]
        count += 1
    return df_dict

In [212]:
words = words[np.isfinite(words['text'])]
sents_dict = make_dict(sents)
words_dict = make_dict(words, False)

In [213]:
print(sents_dict[1968])

[4, 346]

In [208]:
def check(ddf1, ddf2):
    q_mistakes = dd(list)
    w_mistakes = dd(list)
    t_mistakes = dd(list)
    for k,v in ddf1.items():
        if ddf2[k] == []:
            t_mistakes[k] = v
        elif ddf1[k] != []:
            if k == 1968:
                print(ddf1[k], ddf2[k])
                sysjfnvj
            if ddf1[k][0] != ddf2[k][0]:
                q_mistakes[k] = v
            if ddf1[k][1] != ddf2[k][1]:
                w_mistakes[k] = v
    return (t_mistakes, q_mistakes, w_mistakes)

In [209]:
sent_has = check(sents_dict, words_dict)
words_has = check(words_dict, sents_dict)
print(sent_has[1], words_has[1])

[4, 346] [4, 117]

NameError: name 'sysjfnvj' is not defined

In [204]:
def make_csv(s_has, w_has):
    ts = list(s_has[0].keys())
    ws = list(s_has[2].keys())
    tw = list(w_has[0].keys())
    with open('Not_in_words.txt', 'w') as text:
        for x in ts:
            text.write('{0}\n'.format(x))
    with open('Not_in_sentences.txt', 'w') as text:
        for x in tw:
            text.write('{0}\n'.format(x))
    with open('Differing_in_count.txt', 'w') as text:
        for x in ws:
            text.write('{0}\n'.format(x))

In [205]:
make_csv(sent_has, words_has)